<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>/Users/tjohnson/Documents/presentationz/innovation/innovation_keynote_reveal/media/video/clock.mp4</key>
	<data>
	Ym9va4gDAAAAAAQQMAAAAMmuy2Q24VuOm7Nh17xNJrWP3tcWcyIGHWtU7bamU6UHkAIA
	AAUAAAABAQAAVXNlcnMAAAAIAAAAAQEAAHRqb2huc29uCQAAAAEBAABEb2N1bWVudHMA
	AAANAAAAAQEAAHByZXNlbnRhdGlvbnoAAAAKAAAAAQEAAGlubm92YXRpb24AABkAAAAB
	AQAAaW5ub3ZhdGlvbl9rZXlub3RlX3JldmVhbAAAAAUAAAABAQAAbWVkaWEAAAAFAAAA
	AQEAAHZpZGVvAAAACQAAAAEBAABjbG9jay5tcDQAAAAkAAAAAQYAAAQAAAAUAAAAJAAA
	ADgAAABQAAAAZAAAAIgAAACYAAAAqAAAAAgAAAAEAwAA2WUCAAAAAAAIAAAABAMAAOji
	CQAAAAAACAAAAAQDAADp4gkAAAAAAAgAAAAEAwAA71KdAAAAAAAIAAAABAMAAITsDwEA
	AAAACAAAAAQDAACwBWwBAAAAAAgAAAAEAwAA+wVsAQAAAAAIAAAABAMAAN6AbgEAAAAA
	CAAAAAQDAADd6W4BAAAAACQAAAABBgAA6AAAAPgAAAAIAQAAGAEAACgBAAA4AQAASAEA
	AFgBAABoAQAACAAAAAAEAABBuquKWgAAABgAAAABAgAAAQAAAAAAAAAPAAAAAAAAAAAA
	AAAAAAAACAAAAAQDAAAHAAAAAAAAAAQAAAADAwAA9gEAAAwAAAABAQAATWFjaW50b3No
	IEhECAAAAAQDAAAAEIgpOgAAAAgAAAAABAAAQbizKZgAAAAkAAAAAQEAAEExNUUzRUND
	LUQ2ODQtM0FENC1BNjQ1LTlCOUVENUQ4MDRGQhgAAAABAgAAgQAAAAEACADvFwAAAQAI
	AAAAAAAAAAAAAQAAAAEBAAAvAAAAAAAAAAEFAAAEAAAAAwMAAAAIACjAAAAA/v///wEA
	AAAAAAAADwAAAAQQAAC8AAAAAAAAAAUQAAB4AQAAAAAAABAQAAC0AQAAAAAAAEAQAACk
	AQAAAAAAAAIgAABwAgAAAAAAABAgAADwAQAAAAAAABEgAAAkAgAAAAAAABIgAAAEAgAA
	AAAAABMgAAAUAgAAAAAAACAgAABQAgAAAAAAADAgAAB8AgAAAAAAAAHAAADUAQAAAAAA
	ABHAAAAUAAAAAAAAABLAAADkAQAAAAAAABDQAACEAgAAAAAAAA==
	</data>
</dict>
</plist>
